/* import */
@import "./modules/fonts";
@import "./modules/variables";
@import "./modules/mixins";
@import "./modules/animations";
@import "./partials/normalize";

/* general */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  scroll-behavior: smooth;
  font-size: 62.25%;
}

body {
  overflow-x: hidden;
  z-index: 0;
}

.wrapper {
  width: 90%;
  max-width: 1250px;
  margin: 0 auto;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  height: auto !important;
  margin: auto !important;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
}