/* import */
@import "./modules/fonts";
@import "./modules/variables";
@import "./modules/mixins";
@import "./partials/normalize";
@import "./partials/webaccessibility";
@import "./partials/scrollbar";
@import "./partials/navigation";

/* general */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  scroll-behavior: smooth;
  font-size: 62.25%;
}

body {
  z-index: 0;
  overflow-x: hidden;
}

.wrapper {
  width: 85%;
  max-width: 1250px;
  margin: 0 auto;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  @media (min-width: 1680px) {
    max-width: 1650px;
  }
  @media (min-width: $fullHdWidth) {
    max-width: 1850px;
  }
}

.small-width {
  display: block;
  @media (min-width: $mediumWidth) {
    display: none;
  }
}

.medium-width {
  display: none;
  @media (min-width: $mediumWidth) {
    display: block;
  }
}

.large-width {
  display: none;
  @media (min-width: $largeWidth) {
    display: block;
  }
}

/* text */
.section-header {
  position: relative;
  margin-bottom: 6rem;
  text-align: center;
  &::after {
    content: "";
    width: 51.41px;
    height: 2.11px;
    background: $grayColor;
    @include positionBottomLeft(absolute, -2.4rem, 50%);
    margin-left: -25.705px;
    @media (min-width: $mediumWidth) {
      width: 85.36px;
      height: 3.5px;
      margin-left: -42.5px;
    }
  }
}

.section-header--left {
  text-align: left;
  &::after {
    @include positionBottomLeft(absolute, -2.4rem, 0);
    margin-left: 0;
    @media (min-width: $mediumWidth) {
      margin-left: 0;
    }
  }
}

.section-header--center-left {
  text-align: center;
  @media (min-width: $mediumWidth) {
    text-align: left;
    &::after {
      @include positionBottomLeft(absolute, -2.4rem, 0);
      margin-left: 0;
    }
  }
}

.section-header--decoration {
  @media (min-width: $mediumWidth) {
    &::after {
      display: none;
    }
  }
}

.section-header--position {
  width: 100%;
  @media (min-width: $mediumWidth) {
    width: 50%;
    padding-bottom: 5rem;
  }
}

.title {
  font-size: 3rem;
  line-height: 3.6rem;
  font-weight: 700;
  margin: 0;
  position: relative;
  z-index: 1;

  @media (min-width: 500px) {
    font-size: 4.6rem;
    line-height: 4.6rem;
  }

  @media (min-width: $mediumWidth) {
    font-size: 5.6rem;
    line-height: 6.8rem;
  }
}

.title--small {
  font-size: 3.2rem;
  line-height: 3.9rem;
  margin: 3.5rem 0 1rem;
}

.title--middle-size {
  font-size: 4.6rem;
  line-height: 5.6rem;
}

.subtitle {
  font-size: 0.9rem;
  line-height: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.2em;
  text-transform: uppercase; 
  padding: 0;
  position: relative;
  z-index: 1;
  @media (min-width: $mediumWidth) {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
}

.subtitle--small {
  @media (min-width: $mediumWidth) {
    font-size: 1rem;
  }
  @media (min-width: $hdWidth) {
    font-size: 1.2rem;
  }
}

.text {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1rem;
  padding: 0 0.5rem 1.5rem;
  text-align: left;
  position: relative;
  z-index: 1;
}

.text--max-width {
  max-width: 600px;
  margin: 0 auto;
}

.text--center {
  @media (min-width: $mediumWidth) {
    text-align: center;
  }
}

/* buttons */
.button-wrapper {
  margin: 3.5rem 0;
  text-align: center;
  position: relative;
  z-index: 0;
  @media (min-width: $mediumWidth) {
    text-align: left;
  }
}

.button-wrapper--margin {
  @media (min-width: $mediumWidth) {
    margin: 1rem 0 10rem;
  }
}

.button-wrapper--right {
  text-align: center;
  @media (min-width: $mediumWidth) {
    text-align: right;
  }
}

.btn {
  color: $blackColor;
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  background: transparent;
  border: none;
  line-height: 2.4rem;
  letter-spacing: 0.1px;
  padding: 1rem 3.5rem;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background: $whiteColor;
    @include skew();
    @include positionTopLeft(absolute, 0, 0);
    z-index: -1;
  }
}

.btn--stroke {
  color: $grayColor;
  &::before {
    border: 2px solid $grayColor;
  }
}

.btn--gray {
  color: $whiteColor;
  &::before {
    background: $grayColor;
  }
}

.hover-effect {
  @include transition();

  &:hover,
  &:focus {
    color: $whiteColor;
  }

  &::after {
    content: "";
    width: 0;
    height: 100%;
    background: $blackColor;
    @include skew();
    @include positionTopLeft(absolute, 0, 0);
    z-index: -1;
    @include transition();
  }
  &:hover::after,
  &:focus::after {
    width: 100%;
  }
}

/* header */
.header {
  width: 100%;
  padding: 4.5rem 0;
  @include positionTopLeft(absolute, 0, 0);
  z-index: 2;
}

.header__wrapper {
  @include flex(row, center, center);

  @media (min-width: $mediumWidth) {
    justify-content: space-between;
  }
}

.logo {
  max-width: 122px;
  text-decoration: none;

  @media (min-width: $mediumWidth) {
    width: auto;
  }
}

/* languages */
.languages {
  text-align: left;

  &--nav {
    @include positionTopLeft(absolute, 85vh, 0);
    margin-left: 1rem;
  }
}

.language__btn {
  width: auto;
  height: auto;
  max-width: 50px;
  font-size: 1.4rem;
  line-height: 1.67rem;
  font-weight: 600;
  background: transparent;
  border: none;
  text-align: left;
  position: relative;

  &:first-of-type {
    margin-right: 4px;
    &::before {
      content: "";
      width: 2px;
      height: 100%;
      @include positionBottomRight(absolute, 0, -8px);
      @include skew();
    }
  }

  &:last-of-type {
    margin-left: 4px;
  }

  &--black {
    color: $blackColor;
    &::before {
      background: $blackColor;
    }
  }

  &--white {
    color: $whiteColor;
    &::before {
      background: $whiteColor;
    }
  }
}

/* hero */
.hero {
  width: 100%;
  height: 100vh;
  background: $lightGrayColor url("../img/hero-bg.jpg") no-repeat center/cover;
  position: relative;
  overflow: hidden;
  @include flex(row, center, flex-start);

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    @include positionTopLeft(absolute, 0, 0);
    z-index: 0;
  }
}

.hero__wrapper {
  color: $whiteColor;
  position: relative;
  padding-left: 0;
  position: relative;
  z-index: 1;
  margin-top: 5rem;

  @media (min-width: $largeWidth) {
    padding-left: 15rem;
  
    &::after {
      content: "";
      width: 1.74px;
      height: 100%;
      background: $whiteColor;
      @include positionTopRight(absolute, 0, 20rem);
      @include skew();
    }
  }
}

.hero-bottom {
  width: 100%;
  padding: 2.5rem;
  @include positionBottomLeft(absolute, 0, 0);
  z-index: 1;
}

.hero-bottom__wrapper {
  width: 100%;
  color: $whiteColor;
  @include flex(row, flex-end, space-between);
}

/* scroll */
.scroll {
  padding-bottom: 0.9rem;

  a {
    text-decoration: none;
  }

  img {
    -webkit-transition: -webkit-filter 0.2s;
    transition: -webkit-filter 0.2s;
    -o-transition: filter 0.2s;
    transition: filter 0.2s;
    transition: filter 0.2s, -webkit-filter 0.2s;

    &:hover,
    &:focus {
      -webkit-filter: brightness(100%) invert(1);
      filter: brightness(100%) invert(1);
    }
  }
}

/* our-story */
.our-story {
  font-size: 0.9rem;
  line-height: 2.1rem;
  font-weight: 400;
  color: $blackColor;
  padding-right: 5rem;
  @include flex(column, center, center);
  @include positionTopRight(absolute, -1rem, -2rem);
  z-index: 1;

  &::before {
    content: "";
    width: 20rem;
    height: 20rem;
    background: $whiteColor;
    @include skew();
    @include positionTopLeft(absolute, -2.5rem, -5rem);
    z-index: -1;
  }

  @media (min-width: $mediumWidth) {
    font-size: 1.4rem;
    @include positionTopRight(relative, 0, 0);
    position: relative;
    &::before {
      content: "";
      width: 37rem;
      height: 20rem;
      background: $whiteColor;
      @include skew();
      @include positionTopLeft(absolute, -2.5rem, -10rem);
      z-index: -1;
    }
  }

  @media (min-width: 1600px) {
    &::before {
      width: 50rem;
    }
  }
}

.our-story__btn {
  background: transparent;
  border: none;
  margin: 0 0 0.5rem 1rem;
  padding: 0.5rem 1rem 0.5rem 1.5rem;
  position: relative;
  @include transition();

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    border: 1px solid $grayColor;
    @include skew();
    @include positionTopLeft(absolute, 0, 0);
  }

  img {
    width: 75%;
  }

  @media (min-width: $mediumWidth) {
    padding: 1rem 1.5rem 1rem 2rem;
    img {
      width: 100%;
    }
  }
}

/* decorated-section */
.decorated-section {
  padding: 10rem 0 0;
  position: relative;
  overflow: hidden;
  @media (min-width: $mediumWidth) {
    padding: 16rem 0;
  }
}

.decorated-section__wrapper {
  @include flex(column, center, center);
  text-align: center;
  position: relative;
}

/* slider */
.slider {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide {
  min-width: 100%;
  background: $whiteColor;
  margin-bottom: 4.5rem;
  position: relative;
  visibility: hidden;
  @include transition();
}

.controls {
  margin-bottom: 2rem;
  @media (min-width: $mediumWidth) {
    @include positionBottomRight(absolute, 0, 0);
  }
}

.control__input {
  display: none;
}

.control__label {
  display: inline-block;
  width: 20px;
  height: 12.5px;
  border: 1px solid $blackColor;
  margin-left: 7.67px;
  @include skew();
  @include transition();
  cursor: pointer;
  &:hover,
  &:focus {
    background: $blackColor;
  }
}

#control-1:checked ~ .slide-1 {
  margin-left: 0;
  visibility: visible;
}

#control-2:checked ~ .slide-2 {
  margin-left: -100%;
  visibility: visible;
}

#control-3:checked ~ .slide-3 {
  margin-left: -200%;
  visibility: visible;
  max-width: 320px;
  @media (min-width: $mediumWidth) {
    display: block;
  }
}

/* decoration */
.decorated-section__bg-img {
  max-width: 400px;
  @include positionTopLeft(absolute, -20px, -10px);
  z-index: 2;
}

.rectangle-decoration {
  width: 210px;
  height: 210px;
  background: rgba(244, 244, 244, 1);
  @include skew();
  @include positionTopRight(absolute, 20%, 15%);
  z-index: 0;
}

.rectangle-decoration--right {
  @include positionTopRight(absolute, 0, 0);
}

.line-decoration {
  width: 1px;
  height: 300px;
  background: rgba(139, 139, 139, 1);
  @include skew();
  z-index: 0;
  position: absolute;
}

.line-decoration--1 {
  top: -120%;
  right: 25%;
}

.line-decoration--2 {
  bottom: -140%;
  right: 35%;
}

.line-decoration--3 {
  bottom: -160%;
  left: 25%;
}

.line-decoration--4 {
  top: -18%;
  right: 5%;
  z-index: 4;
  @media (min-width: $mediumWidth) {
    background: $whiteColor;
    top: -12%;
    right: 10%;
  }
}

.line-decoration--5 {
  bottom: 25%;
  right: -40%;
}

.line-decoration--6 {
  bottom: -35%;
  left: 10%;
  z-index: 3;
  @media (min-width: $mediumWidth) {
    bottom: -60%;
    left: 30%;
  }
}

.line-decoration--7 {
  background: $blackColor;
  bottom: 75%;
  right: 10%;
}

/* portfolio */
.portfolio {
  padding: 5rem 0 0;
  position: relative;
  z-index: 0;
  overflow: hidden;
  @media (min-width: $mediumWidth) {
    padding: 0 0 10rem;
  }
}

.portfolio-top {
  @include flex(column, center, center);
  position: relative;
  @media (min-width: $mediumWidth) {
    @include flex(row, center, space-between);
  }
}

.text-wrapper {
  width: 100%;
  background: $whiteColorSecond;
  padding: 5.3rem 0;
  position: relative;
  z-index: 3;
  &::before {
    content: "";
    width: 100%;
    height: 20%;
    background: $whiteColor;
    @include skew();
    @include positionTopLeft(absolute, -12%, -70%);
    z-index: 0;
  } 

  @media (min-width: $mediumWidth) {
    width: 50%;
    padding-left: 3.5rem;
    &::before {
      content: "";
      width: 120%;
      height: 100%;
      background: $whiteColorSecond;
      @include skew();
      @include positionTopLeft(absolute, 0, 0);
    } 
  }
  @media (min-width: $largeWidth) {
    padding-left: 15rem;
  }
}

.img-wrapper {
  position: relative;
  z-index: 1;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background: $whiteColorSecond;
    @include skew();
    @include positionTopRight(absolute, 0, -85%);
    z-index: 0;
  }
  &::after {
    content: "";
    width: 80%;
    height: 50px;
    background: $whiteColor;
    @include skew();
    @include positionBottomRight(absolute, 0, 0);
    margin-right: -10%;
    z-index: 1;
  }

  img {
    width: 100%;
  }

  @media (min-width: $mediumWidth) {
    width: 55%;

    img {
      width: auto;
      height: 100%;
    }

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background: $whiteColor;
      @include skew();
      @include positionTopLeft(absolute, 0, -80%);
      z-index: 0;
    }
    &::after {
      height: 80px;
    }
  }
  @media (min-width: $largeWidth) {
    &::after {
      width: 70%;
    }
  }
}

.figcaption {
  display: block;
  padding: 2rem 5rem;
  text-align: left;
  @include positionBottomRight(absolute, -10%, -10%);
  z-index: 5;
  @media (min-width: 580px) {
    &::before {
      width: 100rem;
    }
  }
  @media (min-width: $largeWidth) {
    padding: 3.5rem 6.5rem;
    right: -25%;
    bottom: -15%;
  }
}

.figcaption__span {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.4rem;
  @media (min-width: 450px) {
    font-size: 1.8rem;
    line-height: 2.1rem;
    margin-bottom: 0.2rem;
  }
}

.quotation {
  width: 100%;
  margin: 14rem 0;
  background: $blackColor;
  position: relative;

  &::before,
  &::after {
    content: "";
    width: 70%;
    height: 50px;
    @include skew();
    background: $whiteColor;
  }

  &::before {
    @include positionTopLeft(absolute, 0, 0);
    margin-left: -10%;
  }

  &::after {
    @include positionBottomRight(absolute, 0, 0);
    margin-right: -10%;
  }

  @media (min-width: $mediumWidth) {
    &::before {
      content: "";
      width: 50%;
      height: 100%;
      background: $blackColor;
      @include positionTopLeft(absolute, 0, -10%);
    }

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      background: $blackColor;
      @include skew();
      @include positionTopRight(absolute, 0, 0);
    }
  }

  @media (min-width: $largeWidth) {
    width: 70%;
    background: transparent;
  }
}

.quotation__wrapper {
  width: 100%;
  color: $whiteColor;
  padding: 8.4rem 0;
  @include flex(column, center, center);
  position: relative;
  z-index: 2;
  @media (min-width: $mediumWidth) {
    @include flex(row, center, space-between);
  }
}

.blockquote {
  width: 80%;
  padding: 0 1rem 0 1.5rem;
  @media (min-width: $mediumWidth) {
    width: 50%;
    padding: 0 3.5rem;
  }
}

.quote {
  display: block;
  margin-bottom: 3.9rem;
  position: relative;
  &::before, 
  &::after {
    content: "";
    width: 1.6rem;
    height: 3.9rem;
    position: absolute;
  }
  &::before {
    width: 2rem;
    height: 4.5rem;
    background: url("../img/quote-top.svg") no-repeat center/contain;
    top: -2.5rem;
    left: -2rem;
    @media (min-width: $mediumWidth) {
      width: 1.6rem;
      height: 3.9rem;
      top: -1.8rem;
      left: -2.95rem;
    }
  }
  &::after {
    background: url("../img/quote-bottom.svg") no-repeat center/contain;
    bottom: -1.8rem;
    right: 0;
    display: none;
    @media (min-width: $mediumWidth) {
      display: block;
    }
  }
}

.author {
  display: block;
  width: 100%;
  text-align: right;
}

/* contact */
.contact-top {
  padding: 10rem 0 9rem;
  background: url("../img/contact-img.jpg") no-repeat center/cover;
  position: relative;
  @media (min-width: $mediumWidth) {
    padding: 25rem 0 19rem;
  }
}

.contact-middle {
  width: 100%;
  position: relative;
}

.subtitle-wrapper {
  width: 100%;
  background: $whiteColor;
  padding: 1rem 0 1rem;
  @media (min-width: $mediumWidth) {
    width: 50%;
    @include positionTopRight(absolute, -10rem, 0);
    &::before {
      content: "";
      width: 50%;
      height: 100%;
      background: $whiteColor;
      @include skew();
      @include positionBottomLeft(absolute, 0, -10%);
    }
  }
}

.contact-middle__wrapper {
  @include flex(column, flex-start, center);
  position: relative;
  @media (min-width: $mediumWidth) {
    padding: 10rem 0 16rem;
  }
  @media (min-width: $largeWidth) {
    @include flex(row, center, space-between);
  }
}

.left-wrapper {
  width: 100%;
  font-size: 1.4rem;
  line-height: 1.7rem;
  text-align: center;
  @include flex(column, flex-start, center);
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  @media (min-width: $mediumWidth) {
    @include flex(row, flex-start, space-around);
  }

  @media (min-width: $largeWidth) {
    width: 40%;
    text-align: left;
  }
}

.contact-title {
  line-height: 3.8rem;
}

.address {
  width: 100%;
  font-style: normal;
  margin-right: 0.5rem;
  @media (min-width: $mediumWidth) {
    width: 50%;
  }
  @media (min-width: $largeWidth) {
    margin-right: 0;
  }
}

.phone-email {
  width: 100%;
  a {
    color: $blackColor;
    text-decoration: none;
    @include transition();
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
  @media (min-width: $mediumWidth) {
    width: 50%;
  }
}

.social-icons {
  width: 100%;
  padding: 2.5rem 0;
}

.social-icon {
  text-decoration: none;
  @include transition();
  margin-right: 0.8rem;
  &:last-of-type {
    margin-right: 0;
  }
  &:hover,
  &:focus {
    opacity: 0.9;
  }
}

.right-wrapper {
  width: 100%;
  padding: 5rem 0;
  @include flex(column, center, center);
  @media (min-width: $largeWidth) {
    width: 60%;
    padding: 0;
  }
}

.form {
  width: 100%;
  max-width: 393px;
  @media (min-width: $largeWidth) {
    width: 60%;
  }
}

.form-field {
  width: 100%;
  @include flex(column, center, center);
}

.form-field__wrapper {
  width: 100%;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.1rem;
  @media (min-width: $mediumWidth) {
    text-align: left;
  }
}

.form-field__item {
  width: 100%;
  padding: 1rem 2.0rem;
  border: 0.75px solid $blackColor;
  margin-top: 1.1rem;
  @include transition();
  &:hover,
  &:focus {
    background: rgba(139, 139, 139, 0.1);
  }
}

.form-field__item--resize {
  resize: vertical;
}

.terms {
  width: 100%;
  @include flex(row, center, flex-start);
}

.terms__accept {
  margin-left: 0.6rem;
  margin-right: 1rem;
  cursor: pointer;
}

.terms__text {
  font-size: 1.1rem;
  line-height: 2.1rem;
  a {
    color: $grayColor;
    margin: 0 0.25rem;
  }
}