/* navigation */
.nav {
  text-align: center;

  @media (min-width: $mediumWidth) {
    width: 100%;
    max-width: 700px;
  }
}

.hamburger {
  width: 25px;
  height: 25px;
  display: inline-block;
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-transition: visibility 0s .4s, -webkit-transform .3s .1s ease-in-out;
  transition: visibility 0s .4s, -webkit-transform .3s .1s ease-in-out;
  -o-transition: transform .3s .1s ease-in-out, visibility 0s .4s;
  transition: transform .3s .1s ease-in-out, visibility 0s .4s;
  transition: transform .3s .1s ease-in-out, visibility 0s .4s, -webkit-transform .3s .1s ease-in-out;
  @include positionTopRight(absolute, 4.5rem, 4.5rem);
  z-index: 6;

  @media (min-width: $mediumWidth) {
    display: none;
  }
}

.hamburger__box {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
}

.hamburger__inner {
  width: 22.37px;
  height: 2.44px;
  background-color: $whiteColor;
  @include positionTopLeft(absolute, 50%, 0);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: background-color 0.1s 0.2s ease-in-out;
  -o-transition: background-color 0.1s 0.2s ease-in-out;
  transition: background-color 0.1s 0.2s ease-in-out;

  &::before,
  &::after {
    content: "";
    width: 22.37px;
    height: 2.44px;
    background-color: $whiteColor;
    position: absolute;
    left: 0;
    -webkit-transition: -webkit-transform 0.2s 0.2s ease-in-out;
    transition: -webkit-transform 0.2s 0.2s ease-in-out;
    -o-transition: transform 0.2s 0.2s ease-in-out;
    transition: transform 0.2s 0.2s ease-in-out;
    transition: transform 0.2s 0.2s ease-in-out, -webkit-transform 0.2s 0.2s ease-in-out;
  }

  &::before {
    top: -6px;
    left: 2.5px;
  }

  &::after {
    top: 6px;
    left: -2.5px;
  }
}

.hamburger--active {
  top: 85vh;
  right: 50%;
  margin-right: -12.5px;
  background: url("../img/chevron.svg") no-repeat center;

  &::before,
  &::after {
    content: "";
    width: 120%;
    height: 100%;
    border: 0.68px solid $grayColor;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -10%;
    @include skew();
  }

  .hamburger__inner {
    background-color: transparent;

    &::before {
      background-color: transparent;
    }

    &::after {
      background-color: transparent;
    }
  }
}

.navigation {
  height: 100%;
  width: 100%;
  background: $whiteColor;
  line-height: 1.67rem;
  font-size: 1.4rem;
  font-family: "Girloy", sans-serif;
  font-weight: 600;
  @include positionTopLeft(fixed, 0, 0);
  visibility: hidden;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  z-index: 5;
  -webkit-transition: visibility 0s .4s, -webkit-transform .3s .1s ease-in-out;
  transition: visibility 0s .4s, -webkit-transform .3s .1s ease-in-out;
  -o-transition: transform .3s .1s ease-in-out, visibility 0s .4s;
  transition: transform .3s .1s ease-in-out, visibility 0s .4s;
  transition: transform .3s .1s ease-in-out, visibility 0s .4s, -webkit-transform .3s .1s ease-in-out;

  @media (min-width: $mediumWidth) {
    height: auto;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
    background: transparent;
    position: static;
  }
}

.navigation__logo {
  margin: 0 auto;
  padding: 5.5rem 0 2.5rem;
}

.navigation__list {
  width: 90%;
  max-width: 272.13px;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  line-height: 2;
  text-align: center;
  z-index: 5;

  @media (min-width: $mediumWidth) {
    width: 100%;
    max-width: 100%;
    @include flex(row, center, flex-end);
  }
}

.navigation__item {
  margin: 3rem 0;
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 0.5px;
    background: $grayColor;
    margin: 0 auto;
    position: absolute;
    left: 0;
    bottom: -1.5rem;
  }

  &:last-of-type {
    position: static;
  }

  @media (min-width: $mediumWidth) {
    margin: 0;
    
    &::after {
      width: 0;
    }
  }
}

.navigation__link {
  color: $blackColor;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;

  @media (min-width: $mediumWidth) {
    color: $whiteColor;
    padding: 0.2rem 2.5rem;
    margin: 0;
    position: relative;

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      border-right: 1px solid $blackColor;
      @include skew();
      @include positionBottomLeft(absolute, 0, 0);
    }

    &:hover::after,
    &:focus::after {
      border: 1px solid $blackColor;
      border-left: 0;
    }

    &--first {
      &:hover::after,
      &:focus::after {
        border: 1px solid $blackColor;
      }
    }

    &--last {
      &::after {
        border-right: transparent;
      }
    }

    &--active {
      &::after {
        border: 1px solid $blackColor;
      }
    }
  }
}

.navigation--active {
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: visibility 0s 0s, -webkit-transform .3s .1s ease-in-out;
  transition: visibility 0s 0s, -webkit-transform .3s .1s ease-in-out;
  -o-transition: transform .3s .1s ease-in-out, visibility 0s 0s;
  transition: transform .3s .1s ease-in-out, visibility 0s 0s;
  transition: transform .3s .1s ease-in-out, visibility 0s 0s, -webkit-transform .3s .1s ease-in-out;
  visibility: visible;
}