// colors
$whiteColor: #fff;
$whiteColorSecond:#F4F4F4;
$blackColor: #000;
$grayColor: #8B8B8B;
$lightGrayColor: #A4A4A4;

// width
$smallWidth: 576px;
$mediumWidth: 800px;
$largeWidth: 1100px;
$hdWidth: 1280px;
$fullHdWidth: 1900px;